<div class="jumbotron" id="jumbo">
  <h1>The Perfect Pairing</h1>
  <p>An example app for the Foodpairing Ruby Gem</p>
</div>
<div id="body-container">
  <%= react_component 'Main', {whiskey_pairings: @whiskey_pairings,
                              pairings_2: @pairings_2,
                              pairings_3: @pairings_3,
                              pairings_4: @pairings_4,
                              pairings_5: @pairings_5,
                              }%>
</div>
