// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button-container {
  text-align: center;
  padding-top: 20px;
  font-family: 'Lato', sans-serif;
}

.ind-btn {
  margin: 13px 12px 12px 10px;
}

.results {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

#jumbo {
  text-align: center;
  font-size: 200%;
  font-family: 'Lato', sans-serif;
  background-color: rgb(60, 60, 60);
  color: white;
  margin-bottom: 0;
}
