// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button-container {
  text-align: center;
  padding-top: 20px;
}

.ind-btn {
  margin: 13px 12px 12px 10px;
}

.results {
  text-align: center;
}
